@import "../styles/variables";

.section-apartment {
  display: flex;
  gap: 20px;
  flex-basis: 50%;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.apartment__description {
  .description__header {
    margin-top: 20px;
    display: flex;
    width: 582px;
    padding: 10px 20px 10px 10px;
    align-items: center;
    background-color: $primary-color;
    color: $white-color;
    border-radius: 10px;
    justify-content: space-between;


    i {
      cursor: pointer;
      transition: transform 0.3s ease-in-out; // Ajout de la transition
    }

    .section-apartment.open &  {
      i {
        transform: rotate(180deg); // Appliquez la rotation lorsqu'ouvert
      }
    }
  }
  .description__content {
    width: 580px;
    position: relative;
    top: -10px;
    z-index: -1;
    background-color: #F6F6F6;
    color: $primary-color;
    padding: 10px 20px 10px 10px;
    padding: 1rem;
    border-radius: 10px;
    animation: slide-in 0.5s ease-in-out;

    &.hidden {
      animation: slide-out 0.5s ease-in-out;
    }
  }

  p {
    margin-block: 0;
  }
}

li {
  list-style-type: none;
}

@keyframes slide-in {
    0% {
      transform: translateY(-100%);
      transform-origin: 50% 0; /* Ajustez ici pour le point de départ */
    }
    100% {
      transform: translateY(0);
    }
  }