.apartment-container {
  display: flex;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.apartment {
  border-radius: 10px;
  display: grid;
  justify-content: space-between;
  place-items: end;
  font-size: 18px;
  line-height: 142.6%;
  padding-left: 10px;

  img {
    width: 340px;
    height: 340px;
    object-fit: cover;
    border-radius: 10px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    flex-basis: 100%;
  }

  a {
    text-decoration: none;
  }

  &__subtitle {
    color: white;
    font-size: 18px;
    font-weight: 500;
  }
}
