@import "../styles/variables";

.section-apartment {
  display: flex;
  gap: 20px;
  flex-basis: 50%;
  width: 94%;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .apartment__description {
    overflow: hidden;
    margin-top: 30px;
    width: 100%; // correction width

    @media (max-width: 768px) {
      margin-left: 10px;
    }

    .description__header {
      display: flex;

      padding: 10px 20px 10px 10px;
      align-items: center;
      background-color: #FF6060;
      color: #FFF;
      border-radius: 10px;
      justify-content: space-between;
      position: relative;
      z-index: 1;

      i {
        cursor: pointer;
        transition: transform 0.5s ease-in-out;

        .section-apartment.open & {
          transform: rotate(180deg);
        }
      }
    }

    .conteneur {
      margin: 10px;
      visibility: hidden;

      .section-apartment.open & {
        visibility: visible;
      }
    }

    .description__content {

      position: relative;
      z-index: -1;
      background-color: #F6F6F6;
      color: $primary-color;
      padding: 10px 20px 10px 10px;
      padding: 1rem;
      border-radius: 10px;
      animation: slide-in 0.6s ease-in-out;

      &.hidden {
        animation: slide-out 0.6s ease-in-out;
        top: -10px; // Ajustez cette ligne selon vos besoins
      }
    }

    p {
      margin-block: 0;
    }
  }

  li {
    list-style-type: none;
  }

  @keyframes slide-in {
    0% {
      transform: translateY(-100%);
      transform-origin: 50% 0;
    }
    100% {
      transform: translateY(0);
    }
  }
}
