@import "../styles/variables";

.navbar {
    display: flex;
    height: 68px;
    align-items: center;
    padding: 0 2rem;
    text-align: right;
    padding-inline: 65px;
    margin: 0 auto; 
    max-width: 1200px; 

    @media (max-width: 768px) {
       padding: 0 5rem;
    }
    
    .navbar__logo img {
      margin-right: auto;
      
      @media (max-width: 768px) {
        width: 145px;
      }
    }
  
    .link {
      display: flex;
      align-items: center;
      gap: 26px;
      margin-left: auto;
      
      @media (max-width: 768px) {
        gap: 20px;
      }
  
      a {
        text-decoration: none;
        color: $primary-color;
  
        @media (max-width: 768px) {
          text-align: center; 
          margin: 0; 
          font-size: 14px; 
          text-transform: uppercase;
        }
  
        &.active {
          border-bottom: 2px solid $primary-color;  // bordure inférieure corriger
        }
        }
      }
    }
